@media (min-width: 768px) {
  .adjustContent {
    min-height: 100vh;
    min-width: 18rem;
  }
  
}


@media  (max-width : 768px){
	.dev{
        font-size: 0.8rem;
        margin-left: 0.5em;
    }
    .profileImage {
        width: 50vw;
    }

    .skillsIcon {
        font-size: 2em;
      }
    
      .adjustContent {
        margin-left: 1rem;
      }
    
      .meParragraph {
        font-size: 0.8em;
      }
      
      .title {
        font-size: 1em;
      }

      .aboutMe {
        margin-top: 2em;
      }

      .iconRow {
        margin-top: 2em;
      }

      .icon {
        margin-top: 0.4em;
        padding: 0.5em;
      
      }
	
}

@media (min-width: 992px) {
    #sideNav {
      text-align: center;
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      width: 10rem;
      height: 100vh;
    }
    #sideNav .navbar-brand {
      display: flex;
      margin: auto auto 0;
      padding: 0.5rem;
    }
    #sideNav .navbar-brand .img-profile {
      max-width: 7rem;
      max-height: 10rem;
      
    }
    #sideNav .navbar-collapse {
      display: flex;
      align-items: flex-start;
      flex-grow: 0;
      width: 100%;
      margin-bottom: auto;
    }
    #sideNav .navbar-collapse .navbar-nav {
      flex-direction: column;
      width: 100%;
    }
    #sideNav .navbar-collapse .navbar-nav .nav-item {
      display: block;
    }
    #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
      display: block;
    }
    .adjustContent {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }

  @media (max-width: 992px) {
    .adjustContent {
      border-left: 0rem;
    }
  }


  @media (max-width: 576px) {
    .adjustContent {
      border-left: 0rem;
    }
    .icon {
      margin-top: 0.5vh;
      padding: 0.5em;
    
    }
  }